@media only screen and (max-width: 600px) {
  body {
    background-color: #000000;
    color: #d9d9d9;
    font-size: 1.5rem;
  }

  .App {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .App hr {
    width: 99%;
    height: 3px;
    background-color: #d9d9d9;
  }

  .user-container {
    background-color: #1f1f1f;
    width: 98%;

    box-shadow: 5px 3px 3px black;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  button {
    background-color: #bb86fc;
    font-weight: bold;
    font-size: 20px;
  }

  .user-container img {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  .header {
    width: 98%;
    background-color: #1f1f1f;
    margin-top: 10px;
  }

  form input {
    height: 30px;
    text-align: center;
    background-color: #d9d9d9;
  }

  .search-container {
    background-color: #1f1f1f;
    width: 98%;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .name {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  .btn {
    width: 100%;
    background-color: #1f1f1f;
    border: none;
    font-size: 1.5rem;
  }

  button:hover {
    background-color: none;
  }

  .dropdown-menu {
    width: 100%;
    background-color: #1f1f1f;
  }

  .dropdown-item {
    color: #d9d9d9;
    font-size: 1.5rem;
  }

  .btn-check:focus {
    background-color: none;
  }

  .btn-secondary:focus {
    background-color: none;
  }

  .btn-secondary:hover {
    background-color: none;
  }

  .btn-check:focus .btn-secondary .btn-secondary:focus {
    background-color: none;
  }

  .dropdown-menu:focus {
    background-color: none;
  }
}
